@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&family=Work+Sans:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-alt-sm {
    @apply font-inter text-[0.69675rem] md:font-work-sans md:text-sm md:leading-5;
  }

  .text-alt-normal {
    @apply font-work-sans text-sm leading-5;
  }

  .work-sans-sm {
    @apply font-work-sans text-sm leading-5;
  }

  .padding-x {
    @apply px-4 md:px-[5.2rem];
  }
}

.max-container {
  max-width: 1440px;
  margin: 0 auto;
}

.w-inherit {
  width: inherit;
}

@media screen and (min-width: 768px) {
  .grid__main {
    display: grid;
    margin-bottom: 6rem;
    grid-template-columns: 1fr 26.125rem;
  }
}

/* --------------------------------------------------
      Custom styling for React Day Picker
  ---------------------------------------------------  */

/* .rdp {
  margin: 0;
  padding: 1.25rem 1.5rem;
  width: 24.625rem;
  
} */

.custom-root {
  max-width: 24.625rem;
  border-radius: 0.5rem;
  border: 1px solid #f2f4f7;
  box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03),
    0px 20px 24px -4px rgba(16, 24, 40, 0.08);
}
